<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Vault Viewer</h5>
</div>

<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Vault Base Url</label>
      <div class="row">
        <div class="col-10">
          <input type="url" class="form-control form-control-lg" name="vault_url" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter url" [value]="baseUrl" [(ngModel)]="baseUrl">
          <small class="d-block mb-3 text-muted">Only edit your host address and port number</small>
        </div>
        <div class="col-2">
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" (click)="performAction(verb)">{{verb}}</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a *ngFor="let verb of supportedVerbs" class="dropdown-item" href="#" [innerText]="verb" (click)="setAction(verb)">{{verb}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <label for="secret">Secret information</label>
      <div class="row">
        <div class="col-6">
          <input type="text" id="secret" class="form-control form-control-lg" name="key" aria-describedby="key"
          placeholder="Enter key" [value]="key" [(ngModel)]="key">
        </div>
        <div *ngIf="isPut()" class="col-6">
          <input type="text" class="form-control form-control-lg" name="value" aria-describedby="value" placeholder="Enter value" [value]="value" [(ngModel)]="value">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="token">Vault token</label>
      <input name="token" class="form-control" id="token" placeholder="Vault token" [value]="token" 
      [(ngModel)]="token">
    </div>
    <div class="form-group">
      <label for="result">Query result</label>
      <textarea class="form-control" id="result" rows="10">{{result}}</textarea>
    </div>
  </form>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
