<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-3" [hidden]="requests.length === 0">
      <label>Recent requests</label>
      <div class="list-group" id="list-tab" role="tablist">
        <a (click)="replayRequest(request)" *ngFor="let request of requests"
           class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home"
           role="tab" aria-controls="home">
          <small class="float-left">/{{request.secret.key}}</small>
          <small class="float-right">[{{request.verb | uppercase}}]</small>
        </a>
      </div>
    </div>
    <div class="col-9">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Vault Base Url</label>
          <div class="row">
            <div class="col-10">
              <input type="url" class="form-control form-control-lg" name="vault_url" id="exampleInputEmail1"
                     aria-describedby="emailHelp"
                     placeholder="Enter url" [value]="baseUrl" [(ngModel)]="baseUrl">
            </div>
            <div class="col-2">
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" (click)="performAction(verb)">{{verb}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a *ngFor="let verb of supportedVerbs" class="dropdown-item" href="#" [innerText]="verb"
                     (click)="setAction(verb)">{{verb}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="checkbox" (checked)="isCorsEnabled" [disabled]="token.length === 0" (click)="toggleCORS()"
                 name="isCorsEnabled"> {{toggleCORSText}} CORS
        </div>
        <div>
          <label for="secret">Secret Information</label>
          <div class="row">
            <div class="col-6">
              <input type="text" id="secret" class="form-control form-control-lg" name="key" aria-describedby="key"
                     placeholder="Enter key" [value]="key" [(ngModel)]="key">
            </div>
            <div *ngIf="isPut()" class="col-6">
              <input type="text" class="form-control form-control-lg" name="value" aria-describedby="value"
                     placeholder="Enter value" [value]="value" [(ngModel)]="value">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="token">Vault token</label>
          <input name="token" class="form-control" id="token" placeholder="Vault token" [value]="token"
                 [(ngModel)]="token">
        </div>
        <div class="form-group">
          <label for="result">Query result</label>
          <textarea class="form-control" id="result" rows="10">{{result}}</textarea>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
